* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
}

.painel {
    width: 40rem;
    height: 20rem;
    margin: 2rem auto;
    border: .1rem #ccc solid;
    box-shadow: 0rem 0.3rem 0.3rem 0.03rem #ddd;
}